#body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#buttonRow {
    display: flex;
    justify-content: center;

    column-gap: 10%;
}

h1 {
    font-family: assistant;
    font-size: 250px;
    
    display: flex;
    justify-content: center;

    margin: 0px;
    margin-bottom: 1.5%
}

button {
    font-family: assistant;
    font-size: 20px;

    padding-left: 1em;
    padding-right: 1em;
    padding-top: .5em;
    padding-bottom: .5em;

    border-radius: 10px;
    color:#F5F5F5;
    background-color: #2C2C2C;
    border-width: 0px;
}

.popup-overlay {
    background: rgba(0,0,0,0) !important;
}

.popup-content {
    padding: 0px;
    border: 0px;
    background: none;

    border-radius: 10px;
    background-color: rgba(245, 245, 245, .9) !important;

    font-family: assistant;
    font-size: 20px;
}

.PopupBody {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.editPopupRow {
    display: flex;
    justify-content: center;
}

#inputRow {
    margin-bottom: 2.5%;
}

.PopupInput {
    display: flex;
    flex-direction: column;
    margin: 3%;
    width: 50%;
}

label {
    margin-bottom: 5px;
}

input {
    border:  #D9D9D9;
    border-radius: 4px;
}

h2 {
    font-family: assistant;
    font-size: 35px;

    margin-top: 0px;
    margin-bottom: 0px;
}

#goalRow {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;

    margin-bottom: 0em;
    margin-top: 10%;

    column-gap: 2.5%;
    width: 75%;
}

.svgButton {
    cursor: pointer;
}

.saveButton {
    margin-bottom: 1.5%;
}